version: 2.1

jobs:
  run-k6-on-kubernetes:
    docker:
      - image: cimg/python:3.11
    environment:
      KUBECONFIG: /tmp/kubeconfig

    steps:
      - checkout

      # -----------------------------
      # Install kubectl + deps
      # -----------------------------
      - run:
          name: Install kubectl & dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y curl openssh-client
            pip install requests

            curl -LO https://dl.k8s.io/release/$(curl -Ls https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl
            chmod +x kubectl
            sudo mv kubectl /usr/local/bin/kubectl

            kubectl version --client

      # -----------------------------
      # SSH Tunnel to K3s API
      # -----------------------------
      - run:
          name: Create SSH tunnel to K3s API
          command: |
            ssh -o StrictHostKeyChecking=no \
                -N -L 6443:127.0.0.1:6443 \
                ubuntu@98.92.67.107 &
            sleep 5

      # -----------------------------
      # Restore Kubeconfig
      # -----------------------------
      - run:
          name: Restore kubeconfig
          command: |
            echo "$KUBE_CONFIG_DATA" | base64 --decode > /tmp/kubeconfig
            kubectl get nodes

      # -----------------------------
      # Create ConfigMap for K6
      # -----------------------------
      - run:
          name: Create ConfigMap (K6 scripts)
          command: |
            kubectl delete configmap k6-scripts --ignore-not-found
            kubectl create configmap k6-scripts --from-file=k6/test.js

      # -----------------------------
      # Run K6 Job
      # -----------------------------
      - run:
          name: Run K6 Job on Kubernetes
          command: |
            kubectl delete job k6-demo --ignore-not-found
            kubectl apply -f k8s/k6-job.yaml
            kubectl wait --for=condition=complete job/k6-demo --timeout=600s

      # -----------------------------
      # Collect Logs
      # -----------------------------
      - run:
          name: Collect K6 logs
          command: |
            POD=$(kubectl get pods -l job-name=k6-demo -o jsonpath='{.items[0].metadata.name}')
            kubectl logs $POD > k6-output.log

      - store_artifacts:
          path: k6-output.log

  speedcurve-trigger:
    docker:
      - image: cimg/python:3.11
    steps:
      - checkout

      - run:
          name: Install dependencies
          command: pip install requests

      - run:
          name: Trigger SpeedCurve
          command: python3 ci/speedcurve_post.py

      - store_artifacts:
          path: speedcurve_response.json

workflows:
  version: 2
  k6-and-speedcurve:
    jobs:
      - run-k6-on-kubernetes
      - speedcurve-trigger:
          requires:
            - run-k6-on-kubernetes
